<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguageServer.Robot.Monitor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LanguageServer.Robot.Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LanguageServer.Robot.Monitor.Settings>
            <setting name="ServerPath" serializeAs="String">
                <value>C:\TypeCobol\Sources\##Latest_Release##</value>
            </setting>
            <setting name="LSRPath" serializeAs="String">
                <value>C:\TypeCobol\Sources\##Latest_Release##</value>
            </setting>
            <setting name="ScriptPath" serializeAs="String">
                <value>C:\TypeCobol\Sources\LSRSession</value>
            </setting>
            <setting name="BatchTemplate" serializeAs="String">
                <value>@ECHO OFF
SET TEST_NAME=$1
SET PATH_TEST=%~dp0
SET LSR_EXE=$2\LanguageServerRobot.exe
SET LSP_EXE=$3\TypeCobol.LanguageServer.exe
DEL %PATH_TEST%\Results\%TEST_NAME%.rlsp 2&gt; nul

SET result=KO
%LSR_EXE% -c -s %LSP_EXE% -script %PATH_TEST%\%TEST_NAME%.tlsp 1&gt; nul 2&gt; nul
FC %PATH_TEST%\%TEST_NAME%.rlsp %PATH_TEST%\Results\%TEST_NAME%.rlsp 1&gt; nul 2&gt; nul
if %ERRORLEVEL%==0 set result=OK
echo %PATH_TEST%\%TEST_NAME%.tlsp %result%
exit %ERRORLEVEL%
</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </LanguageServer.Robot.Monitor.Settings>
    </applicationSettings>
    <userSettings>
        <LanguageServer.Robot.Monitor.Properties.Settings>
            <setting name="ServerPath" serializeAs="String">
                <value>C:\TypeCobol\Sources\##Latest_Release##</value>
            </setting>
            <setting name="LSRPath" serializeAs="String">
                <value>C:\TypeCobol\Sources\##Latest_Release##</value>
            </setting>
            <setting name="ScriptPath" serializeAs="String">
                <value>C:\TypeCobol\Sources\Sessions</value>
            </setting>
            <setting name="BatchTemplate" serializeAs="String">
                <value>@ECHO OFF
SET TEST_NAME={0}
SET PATH_TEST=%~dp0
REM {1} = LSR Path value
SET LSR_EXE={1}\LanguageServerRobot.exe
REM {2} = ServerPath value
SET LSP_EXE={2}\TypeCobol.LanguageServer.exe
DEL %PATH_TEST%\Results\%TEST_NAME%.rlsp 2&gt; nul

SET result=KO
%LSR_EXE% -c -so "-td" -s %LSP_EXE% -script %PATH_TEST%\%TEST_NAME%.tlsp 1&gt; nul 2&gt; nul
FC %PATH_TEST%\%TEST_NAME%.rlsp %PATH_TEST%\Results\%TEST_NAME%.rlsp 1&gt; nul 2&gt; nul
if %ERRORLEVEL%==0 set result=OK
echo %PATH_TEST%\%TEST_NAME%.tlsp %result%
exit %ERRORLEVEL%
</value>
            </setting>
            <setting name="LSRReplayArguments" serializeAs="String">
                <value>-c -so "-td" -s {0}\TypeCobol.LanguageServer.exe -script {1}</value>
            </setting>
            <setting name="LSRExe" serializeAs="String">
                <value>LanguageServerRobot.exe</value>
            </setting>
        </LanguageServer.Robot.Monitor.Properties.Settings>
    </userSettings>
</configuration>